#addTodo {
  flex-basis: 100%;
  max-width: 100%;
}

#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

#todo-list-title {
  font-size: 500%;
  font-family: Script;
  margin: auto;
  text-align: center;
}

.mat-card{
  margin: 0%;
  background: none;
}

.mat-expansion-panel {
  background: none;
  border-radius: 5px;
  folat: right;
  margin-left: 10%;
}

.mat-panel-title.mat-expansion-panel-header-title{
  font-size: 150%;
}

.mat-card-content{
  test-align: center;
  float: left;
}

#todo-list-subtitle {
  font-family: Script;
  font-style: italic;
  text-align: center;
  font-size: 150%;
}


#Row{
  margin-right: 65%;
}
#Owner, #Body, #Category{
  margin-left: 30px;
}



[layout-gt-sm="row"] {
  background-image: url("https://lh3.ggpht.com/-OpdfWUferFo/UQVr_UmoI7I/AAAAAAAAD34/7Fel7mpW15w/s0/1.jpg)");
}



