#addTodo {
  flex-basis: 100%;
  max-width: 100%;
}

#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

#todo-list-title {
  font-size: 500%;
  font-family: cursive;
  margin-left: 38%;
}


.mat-card.mat-card{
  margin: 0%;
  background: none;
}

mat-expansion-panel {
  background: none;
  border-radius: 3px;
}

mat-panel-title.mat-expansion-panel-header-title{
  font-size: 150%;
}

.mat-card-content{
  align-content: center;
}

#Panel-Header{
  font-size: 180%;
  font-family: cursive;
}

#Row{
  margin-right: 65%;
}
#Owner, #Body, #Category{
  margin-left: 30px;
}



[layout-gt-sm="row"] {
  background-image: url("https://wallpaperscraft.com/image/paper_crumpled_light_shadow_35117_1920x1080.jpg");
}



